{% block content %}

    <!---<div class="container">-->
        <!---<form method="POST">-->
        <!---{% csrf_token %}-->
        <!---{{form.as_p}}-->
            <!--<a href = "http://127.0.0.1:8000/login/student_registration" target = "_self"<button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Login</button>-->
            <li><a href="http://127.0.0.1:8000/student_login/" target ="_blank">Would you like to Login as a Student?</a></li> 
            <br>
            <br>
            <br>
            <!--<a href = "http://127.0.0.1:8000/login/tutor_registration" target = "_self"<button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Login</button>-->
            <li><a href="http://127.0.0.1:8000/tutor_login/" target ="_blank">Would you like to Login as a Tutor?</a></li> 
        </form>
    </div>
{% endblock %}