{%extends 'base.html'%}

{% block content %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <title>Registration</title>
    <div>
     <a href="http://127.0.0.1:8000/accounts/tutor_registration" target ="_blank">Would you like to register as a tutor?</a>   
        <br>
        <br>
        <br>
        <a href="http://127.0.0.1:8000/accounts/student_registration" target ="_blank">Would you like to register as a student</a>
        <br>
        <br>
        <br>
        If you already have an account, <a href ="/login">Login</a>Instead.

        <script src="" async defer></script>
   </div>
{% endblock content %}