{%extends "base.html"%}
<title>Home</title>

<body>
{%block content%}
   <nav>
       <div class ="nav-wrapper">
           <h1>Welcome to the official website of UniUni</h1>
           <ul id = "nav-mobile" class = "right hide-on-med-and-down">
               <li><h3>Browse all our programmes<a href="http://127.0.0.1:8000/academy/" target ="_blank">  Academy  </a></h3></li>
               <li><h3>Join our dynamic, brilliant community of educators and students<a href="http://127.0.0.1:8000/accounts/register" target ="_blank"> Register </a></h3></li>
               <li><h3>Already have an account?<a href="http://127.0.0.1:8000/login" target ="_self"> Login </a></h3></li>
            </ul>  
        </div>   
   </nav>
{%endblock content%}
</body 
