<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="description" content="School Management">
    <meta name="keywords" content="Online School">
    <meta name="author" content="Some School">
    <meta name "viewport" content="width=device-width, initial-scale =1.0">
    <title>Online School Management System</title>
    <style media = "screen">
      h1 {
          color:maroon;
          }
      span {
        color:magenta;
      }
      body {
        background: blue;
      }
    </style>

    <div style = "border: 2px;">
        <h1></h1>
    </div>
    

    </head>
    <body>
        <h1>Fully Integrated<span>SMIS</span></h1>
        {% block content %}

        {% endblock content %}
    </body>
    <footer>
        <div style = "border: 2px;">
            <h1>footer</h1>
        </div>
    </footer>
</html>
